body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: burlywood;
}

.button{
  padding: 24px 38px;
  border: 1.5px rgb(4, 4, 58) solid;
  border-radius: 8px;
  font-weight: bold;
  color: orangered;
  background-color: rgb(4, 4, 58);
  font-size: 2rem;
}

.button:hover{
  border: 1.5px rgb(206, 127, 138) solid;

  color: rgb(4, 4, 58);
  background-color: orangered;
}